{% sw_extends '@Storefront/storefront/section/cms-section-block-container.html.twig' %}

{% block section_content_block_container %}
    {# WICHTIG: Container-Klasse für hero-two-columns Block bei full-width Section #}
    {% set isFullWidth = section.sizingMode == 'full_width' %}
    {% set isHeroTwoColumns = block.type == 'hero-two-columns' %}
    {% set containerClass = 'cms-block-container' %}
    
    {# WICHTIG: Kein Padding bei full-width und hero-two-columns #}
    {% set shouldHavePadding = padding and not (isFullWidth and isHeroTwoColumns) %}
    
    {# WICHTIG: Inline-Style für full-width ohne padding #}
    {% set containerStyle = '' %}
    {% if shouldHavePadding %}
        {% set containerStyle = containerStyle ~ 'padding: ' ~ padding ~ ';' %}
    {% elseif isFullWidth and isHeroTwoColumns %}
        {# WICHTIG: KEIN padding, margin für full-width! #}
        {% set containerStyle = containerStyle ~ 'padding: 0; margin: 0; max-width: 100%; width: 100%;' %}
    {% endif %}
    
    <div class="{{ containerClass }}"
         {% if isHeroTwoColumns %}data-hero-two-columns-parallax="true"{% endif %}
         {% if containerStyle %}style="{{ containerStyle }}"{% endif %}>
        {% block section_content_block_row %}
            {# WICHTIG: .row immer rendern außer bei full-width + hero-two-columns #}
            {% if not (isFullWidth and isHeroTwoColumns) %}
                <div class="cms-block-container-row row cms-row {{ sidebarClasses }}">
            {% endif %}
            
            {% sw_include '@Storefront/storefront/block/cms-block-' ~ block.type ~ '.html.twig' ignore missing %}
            
            {% if not (isFullWidth and isHeroTwoColumns) %}
                </div>
            {% endif %}
        {% endblock %}
        
        {# WICHTIG: Audio-Icon außerhalb der .row rendern (nur für hero-two-columns) #}
        {% if isHeroTwoColumns and block.customFields.audioFile is defined and block.customFields.audioFile %}
            {% set audioFileUrl = hero_media_url(block.customFields.audioFile) %}
            {% if audioFileUrl %}
                <div class="hero-two-columns-audio-wrapper pb-4">
                    <button class="hero-two-columns-audio-button" 
                            type="button"
                            aria-label="Audio abspielen"
                            data-audio-url="{{ audioFileUrl }}">
                        <svg class="hero-two-columns-audio-icon w-25" viewBox="0 0 400 400" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 0 C0.83571533 0.00215515 1.67143066 0.0043103 2.5324707 0.00653076 C57.61390429 0.23412912 107.0434164 23.1049416 145.84472656 61.77734375 C157.09127012 73.24928451 166.41771331 86.38165508 174.375 100.3125 C174.76010742 100.97636719 175.14521484 101.64023438 175.54199219 102.32421875 C192.73534037 132.26600511 200.84329354 165.61871222 200.6875 200 C200.68476578 201.25499298 200.68476578 201.25499298 200.68197632 202.53533936 C200.63620163 215.02333119 200.137362 227.0907325 197.375 239.3125 C197.20339355 240.11671387 197.03178711 240.92092773 196.85498047 241.74951172 C185.77945641 292.98989423 154.88560315 339.58031036 110.62475586 368.1159668 C80.93780288 386.80667813 46.39527404 400.29921976 10.88671875 400.515625 C10.10987228 400.52263931 9.33302582 400.52965363 8.53263855 400.53688049 C6.04253254 400.55426839 3.55266447 400.56073189 1.0625 400.5625 C0.21085266 400.56317474 -0.64079468 400.56384949 -1.51824951 400.56454468 C-14.12923212 400.54866108 -26.28090601 400.10251022 -38.625 397.3125 C-39.42921387 397.14089355 -40.23342773 396.96928711 -41.06201172 396.79248047 C-84.38533632 387.42821541 -125.47422432 363.89889772 -153.375 329.1171875 C-154.77128454 327.37668003 -156.1849302 325.64977011 -157.625 323.9453125 C-163.78029674 316.57384826 -168.78543101 308.58476518 -173.625 300.3125 C-174.25607666 299.23548828 -174.25607666 299.23548828 -174.89990234 298.13671875 C-192.07466346 268.35037911 -200.09670254 234.90838497 -199.9375 200.6875 C-199.93426727 199.433927 -199.93426727 199.433927 -199.93096924 198.1550293 C-199.70337088 143.07359571 -176.8325584 93.6440836 -138.16015625 54.84277344 C-101.66033705 19.06009161 -50.75670046 -0.23613054 0 0 Z M-37.625 18.3125 C-38.41567871 18.48942383 -39.20635742 18.66634766 -40.02099609 18.84863281 C-57.24282553 22.80790986 -73.05793514 29.00795229 -88.625 37.3125 C-89.54176514 37.79589844 -89.54176514 37.79589844 -90.47705078 38.2890625 C-111.78707302 49.61450775 -130.79107276 66.37910085 -145.625 85.3125 C-146.05329102 85.85374512 -146.48158203 86.39499023 -146.92285156 86.95263672 C-164.43036713 109.24366147 -175.31687016 134.79820779 -181.625 162.3125 C-181.80434082 163.08368164 -181.98368164 163.85486328 -182.16845703 164.64941406 C-192.41776861 211.20388391 -180.67474832 261.71355452 -155.5390625 301.45068359 C-141.24384726 323.46034844 -122.688569 342.12398424 -100.625 356.3125 C-100.01769043 356.70791992 -99.41038086 357.10333984 -98.78466797 357.51074219 C-80.07181814 369.55305075 -59.29726121 377.49139271 -37.625 382.3125 C-36.85961914 382.48894043 -36.09423828 382.66538086 -35.30566406 382.84716797 C-10.57641341 388.29754235 17.88557419 387.11899394 42.375 381.3125 C43.25575195 381.10882813 44.13650391 380.90515625 45.04394531 380.6953125 C65.02122813 375.92725384 84.31307114 367.77749646 101.375 356.3125 C101.97634766 355.9103125 102.57769531 355.508125 103.19726562 355.09375 C110.28164502 350.30599624 116.88747696 345.22960212 123.1484375 339.38671875 C125.17452496 337.49925832 127.25396905 335.71629289 129.375 333.9375 C161.7158151 305.54226434 181.80203119 260.77269374 185.375 218.3125 C185.70994884 212.42000201 185.71660469 206.5251592 185.6875 200.625 C185.68534485 199.83502625 185.6831897 199.04505249 185.68096924 198.23114014 C185.46066506 147.79931231 164.58433033 102.02394599 129.375 66.3125 C95.31402634 32.63670697 48.53340401 15.09825392 1.0625 15.0625 C0.2585379 15.06182526 -0.54542419 15.06115051 -1.37374878 15.06045532 C-13.68465335 15.07686189 -25.57786055 15.56327418 -37.625 18.3125 Z " fill="currentColor" transform="translate(199.625,-0.3125)"/>
                            <path d="M0 0 C2.42351734 2.38629164 2.97408408 3.7840157 3.38311005 7.19285393 C3.38683876 8.46450968 3.39056747 9.73616543 3.39440918 11.0463562 C3.40354584 12.11093982 3.40354584 12.11093982 3.41286707 13.19703019 C3.42951703 15.57536374 3.42471857 17.95316307 3.41992188 20.33154297 C3.42726111 22.03666745 3.43584692 23.74178696 3.44558716 25.44689941 C3.46782835 30.07919298 3.47073251 34.7113088 3.46883965 39.34364843 C3.46872005 43.21047045 3.47727966 47.07725466 3.48561716 50.94406617 C3.50486098 60.06706579 3.50773164 69.18997392 3.50097656 78.31298828 C3.49433617 87.72435037 3.5171978 97.1353205 3.55429029 106.54660308 C3.58498015 114.62656378 3.59634806 122.70639835 3.59245348 130.78641617 C3.59038507 135.61232752 3.59587914 140.43793396 3.62034607 145.26379013 C3.64259863 149.80296368 3.64074798 154.34149989 3.62041855 158.88067627 C3.61700573 160.5455487 3.62210937 162.2104639 3.63640213 163.87527847 C3.65458826 166.15082073 3.64185383 168.42419932 3.62145996 170.69967651 C3.62217247 171.97208632 3.62288498 173.24449612 3.62361908 174.55546379 C2.79761883 179.11784468 1.26373298 180.75577895 -2 184 C-4.30078125 184.73046875 -4.30078125 184.73046875 -7 184 C-9.90184802 182.32631345 -12.52657667 180.34205671 -15.1875 178.3125 C-16.8057581 177.11036541 -18.42425429 175.90855126 -20.04296875 174.70703125 C-20.86716309 174.08908691 -21.69135742 173.47114258 -22.54052734 172.83447266 C-26.32717164 170.01008858 -30.16394032 167.2566672 -34 164.5 C-35.49899904 163.41838595 -36.99769603 162.33635318 -38.49609375 161.25390625 C-39.23843262 160.71781738 -39.98077148 160.18172852 -40.74560547 159.62939453 C-43.00994999 157.99280851 -45.27273581 156.35408835 -47.53515625 154.71484375 C-48.67307617 153.89113281 -48.67307617 153.89113281 -49.83398438 153.05078125 C-51.23040607 152.03987474 -52.62632033 151.0282665 -54.02148438 150.015625 C-54.68599609 149.53480469 -55.35050781 149.05398438 -56.03515625 148.55859375 C-56.75195557 147.99172852 -57.46875488 147.42486328 -58.20727539 146.84082031 C-60.6379254 145.23866094 -62.58769934 144.3633626 -65.27514648 143.35449219 C-70.79687988 140.93915603 -74.93624548 138.31902866 -78 133 C-81.34995884 121.98740386 -80.32575786 109.39772494 -80.05151367 98.03710938 C-79.93762004 93.31485699 -79.96254191 88.60556499 -80.03064632 83.88283348 C-80.06976611 80.2235705 -80.04034212 76.56728648 -79.99023628 72.90825272 C-79.97347818 71.16937535 -79.97626972 69.43018568 -79.99983025 67.69138718 C-80.11639654 54.57913478 -80.11639654 54.57913478 -76.61103249 50.30734253 C-72.80253542 46.84122391 -68.5000187 44.45460246 -64 42 C-62.36071299 40.84671763 -60.73610982 39.67140238 -59.14453125 38.453125 C-58.43039063 37.92589844 -57.71625 37.39867187 -56.98046875 36.85546875 C-56.26503906 36.32566406 -55.54960937 35.79585937 -54.8125 35.25 C-53.18361496 34.04684628 -51.55470808 32.84372214 -49.92578125 31.640625 C-49.11061035 31.03798828 -48.29543945 30.43535156 -47.45556641 29.81445312 C-42.69564947 26.29728245 -37.92929351 22.7888434 -33.16357422 19.27954102 C-28.98969227 16.20535149 -24.81894419 13.12702202 -20.65234375 10.04296875 C-19.77964844 9.39779297 -18.90695313 8.75261719 -18.0078125 8.08789062 C-16.32589872 6.84434799 -14.64487273 5.59960347 -12.96484375 4.35351562 C-12.21203125 3.79728516 -11.45921875 3.24105469 -10.68359375 2.66796875 C-10.01900146 2.17578857 -9.35440918 1.6836084 -8.66967773 1.17651367 C-5.40164919 -1.12625421 -3.8334677 -1.21548976 0 0 Z " fill="currentColor" transform="translate(198,108)"/>
                            <path d="M0 0 C13.39729281 10.24237477 22.31502761 26.8459029 29 42 C29.28214355 42.63873047 29.56428711 43.27746094 29.85498047 43.93554688 C43.60654901 75.86317212 42.87914427 112.28697628 30.26855469 144.40917969 C21.46279963 165.8266349 6.25768203 188.85706668 -14 201 C-16.98653774 202.01979337 -18.49787639 202.12246917 -21.5625 201.375 C-24.72041915 199.59360971 -26.2062785 198.17350727 -28 195 C-28.29845235 192.10910857 -28.10597336 189.69103197 -27 187 C-24.84765625 184.64453125 -24.84765625 184.64453125 -22 182 C-0.58016827 161.85729567 16.35962538 135.83379478 18.20507812 105.64526367 C18.30344889 102.01081526 18.32890714 98.38572725 18.3125 94.75 C18.30758545 93.46528809 18.3026709 92.18057617 18.29760742 90.85693359 C18.18622466 81.8514941 17.57435915 73.67152555 15 65 C14.67128906 63.80375 14.34257812 62.6075 14.00390625 61.375 C8.83074529 44.1907975 -0.29611286 29.22079333 -12.5 16.125 C-14.83587666 13.54201464 -15.97501951 12.06836764 -17.1875 8.75 C-16.89252572 4.42371052 -14.99842289 1.99842289 -12 -1 C-7.6882321 -2.46387182 -4.06013235 -1.94241219 0 0 Z " fill="currentColor" transform="translate(292,100)"/>
                            <path d="M0 0 C0 26.73 0 53.46 0 81 C-38 81 -38 81 -43 78 C-46.58995555 73.89719366 -47.12664516 70.50343835 -47.16113281 65.1550293 C-47.17074036 63.95335617 -47.1803479 62.75168304 -47.19024658 61.51359558 C-47.19449646 60.21360123 -47.19874634 58.91360687 -47.203125 57.57421875 C-47.20887993 56.22524515 -47.21463762 54.87627155 -47.22039795 53.52729797 C-47.23089881 50.69861471 -47.23674722 47.86995978 -47.24023438 45.04125977 C-47.24571246 41.42653739 -47.26972915 37.81219296 -47.29820633 34.19758892 C-47.31688379 31.4102318 -47.32204104 28.62296471 -47.32357025 25.83555031 C-47.32804834 23.85807046 -47.34667094 21.88063891 -47.36553955 19.90324402 C-47.36253845 18.69211441 -47.35953735 17.4809848 -47.35644531 16.2331543 C-47.36009094 15.17186813 -47.36373657 14.11058197 -47.36749268 13.01713562 C-46.78740389 8.25457395 -44.80852561 4.01508278 -41 1 C-28.03080573 -3.32306476 -13.6707311 0 0 0 Z " fill="currentColor" transform="translate(115,160)"/>
                            <path d="M0 0 C3.15124036 1.88587743 5.51507488 4.31569732 8 7 C8.97259766 8.03640625 8.97259766 8.03640625 9.96484375 9.09375 C27.23334686 29.06366251 32.75111471 54.21921364 31 80 C29.69631544 91.11683577 26.28985314 101.13756195 21 111 C20.49855469 111.99257812 19.99710937 112.98515625 19.48046875 114.0078125 C14.19470988 123.85912952 5.29087293 135.85456353 -5 141 C-8.34060496 141.29694266 -10.60934308 141.15093563 -13.75 139.9375 C-16.93631357 137.19372998 -17.44822577 135.13830672 -18 131 C-16.79018843 125.65666557 -14.24020017 123.12114238 -10.3125 119.375 C-1.22287748 110.61663195 4.19066671 99.93693915 8 88 C8.24621094 87.22914063 8.49242187 86.45828125 8.74609375 85.6640625 C13.3785739 67.4536233 9.51595832 48.53554559 0.93359375 32.23828125 C-2.42852899 26.60757469 -6.33512687 21.44479384 -11.17578125 17.00390625 C-13.7660913 14.15844788 -13.89915642 11.92276787 -14.17578125 8.19140625 C-13.90688407 4.83915479 -12.42370433 3.21595825 -10 1 C-6.68779013 -0.65610493 -3.55327129 -0.74078801 0 0 Z " fill="currentColor" transform="translate(259,126)"/>
                            <path d="M0 0 C9.92313395 6.71093405 15.98629939 18.49155963 18.63378906 29.95117188 C21.15799317 44.07325244 18.28576388 57.82965402 10.50390625 69.84375 C9.75947266 70.91109375 9.75947266 70.91109375 9 72 C8.57589844 72.6084375 8.15179688 73.216875 7.71484375 73.84375 C4.97195823 77.44213358 2.27062338 79.51835515 -2 81 C-5.88714368 81 -7.43450829 80.4910849 -10.375 77.9375 C-12.493934 74.10711931 -13.08393161 71.200235 -12 67 C-10.40092224 64.12080945 -8.60499406 61.44074528 -6.7578125 58.71484375 C-1.77175556 51.01415581 -1.03248187 43.03749888 -2 34 C-3.57851436 27.32889765 -6.71403635 22.60693578 -11.4140625 17.69140625 C-13.9503859 14.9864111 -14.96114002 13.34973986 -15.375 9.625 C-14.94171326 5.4365615 -13.93759961 3.93759961 -11 1 C-7.31027632 -0.84486184 -3.99321947 -1.00133923 0 0 Z " fill="currentColor" transform="translate(231,154)"/>
                        </svg>
                    </button>
                    <audio class="hero-two-columns-audio-element" preload="none">
                        <source src="{{ audioFileUrl }}" type="audio/mpeg">
                        <source src="{{ audioFileUrl }}" type="audio/ogg">
                        Ihr Browser unterstützt das Audio-Element nicht.
                    </audio>
                </div>

                <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const audioButton = document.querySelector('.hero-two-columns-audio-button');
                    const audioElement = document.querySelector('.hero-two-columns-audio-element');
                    
                    if (audioButton && audioElement) {
                        audioButton.addEventListener('click', function() {
                            if (audioElement.paused) {
                                audioElement.play().then(() => {
                                    console.log('Audio gestartet:', audioElement.src);
                                    audioButton.classList.add('playing');
                                }).catch(error => {
                                    console.error('Audio Fehler:', error);
                                    // Autoplay-Blockade umgehen durch User-Interaction
                                    audioElement.muted = true;
                                    audioElement.play().then(() => {
                                        audioElement.muted = false;
                                        audioButton.classList.add('playing');
                                    });
                                });
                            } else {
                                audioElement.pause();
                                audioButton.classList.remove('playing');
                            }
                        });

                        // Audio-Events für UI-Status
                        audioElement.addEventListener('ended', function() {
                            audioButton.classList.remove('playing');
                        });
                        
                        audioElement.addEventListener('pause', function() {
                            audioButton.classList.remove('playing');
                        });
                    }
                });
                </script>

                {# CSS für visuelles Feedback #}
                <style>
                .hero-two-columns-audio-button.playing .hero-two-columns-audio-icon {
                    color: #b7b7b7;
                }
                .hero-two-columns-audio-wrapper {
                    z-index: 100;
                }
                </style>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
